.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1vw;
    height: 1vh;
    background-color: aqua;
    background-image: url("../../../assets/media/images/desktop-gifts.webp");
    background-size: cover;
    background-repeat: no-repeat;
}