@import "../../../variables.scss";
nav {
  & ul {
    color: $primary;
    display: flex;
    list-style: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    & li {
      font-weight: bold;
      width: 100%;
      margin-bottom: 4rem;
      a {
        text-decoration: none;
        color: $primary;
        font-size: 1.5rem;
      }
      h2 {
        a {
          font-size: 2rem;
        }
      }
    }
    li:hover {
      background-color: $secondary;
      a {
        color: $light;
      }
    }
  }
}
