/* You can add global styles to this file, and also import other style files */
@import "./reset.scss";
@import "./variables.scss";
@import "./typography.scss";
body {
    font-size: 14px;
    background-color: $light;
    font-family: $font-body;
}