
$legal: .5rem;
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$lighter:  200;
$bold: 700;


.lighter {
    font-weight: $lighter;
}

header {
    text-align: center;
}

h1 {
    font-family: $font-Noto;
    font-size: $h1;
    font-weight: 700;
}

h2 {
    font-family: $font-Noto;
    font-size: $h2;
    font-weight: $bold;
}
h3 {
    font-family: $font-PS;
    font-size: $h3;
    font-weight: $bold;
}


.legal {
    font-family: $font-work;
    font-weight: $light;
}