// colors
$primary: #dd6565;
$secondary: #ff8384ff;
$sucess: #88cc88;
$warn: #cccc88;
$danger: #cc8888;
$alert: #8888cc;
$dark: #222222;
$light: #dddddd;
$border: 1px solid $dark;

//fonts 
$font-Noto: 'Noto Sans', sans-serif;
$font-PS: 'PT Sans', sans-serif;
$font-work: 'Work Sans', sans-serif;